@media (min-width: 640px) { 
    .max-w-sm.mx-auto {
      max-width: 350px;
      margin: 150px auto;
    }
  }
  
  @media (min-width: 1024px) { 
    .max-w-sm.mx-auto {
      max-width: 450px;
      margin: 100px auto;
    }
  }
  


body.dark-mode {
  background-color: #222;
  color: #fff;
}

body.dark-mode p {
  color: #ddd;
}
